{% extends "layout/layout.html" %}
{% block content %}

<div id="app">

  <h2 class="mb-4">Sección 1</h2>


  <div class="row">

    <div class="col-3">
      <div class="card mb-3" style="max-width: 18rem;">
          <div class="card-header">Temperatura Servidor 1</div>
          <div class="card-body text-dark">
            <h5 class="card-title" v-cloak>[[temperature]] ºC</h5>
          </div>
      </div>
    </div>

    <div class="col-9">
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header">Brillo luz Sala Reuniones</div>
        <div class="card-body text-dark">
          <h5 class="card-title" v-cloak>[[bright]] %</h5>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="static/js/index.js"></script>

{% endblock %}
